/* Fonts */
@font-face {
    src: url("/fonts/Gotham-Rounded-Book.ttf");
}

@font-face {
    font-family: "Proxima Nova Alt";
    src: url("/fonts/Proxima-Nova-Alt-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova Alt";
    src: url("/fonts/Proxima-Nova-Alt-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}


/* Classes */
.root {
    -fx-accent: #AFAFAF;
    -fx-focus-color: #AFAFAF;
}

.background {
    -fx-background-color: #FBFBFB;
    background-color: #FBFBFB; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Gotham Rounded Book";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Gotham Rounded Book";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Gotham Rounded Book";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-admin-mode {
    -fx-hgap: 7;
    -fx-vgap: 3;
    -fx-background-color: #E57373;
    -fx-text-fill: white;
    -fx-padding: 5 5 5 5;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 12;
}

.label-non-admin-mode {
    -fx-hgap: 7;
    -fx-vgap: 3;
    -fx-text-fill: transparent;
    -fx-padding: 2 4 2 4;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 12;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Gotham Rounded Book";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #FBFBFB;
    -fx-control-inner-background: #FBFBFB;
    -fx-background-color: #FBFBFB;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        #FBFBFB
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Proxima Nova Alt";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: #DDDEE4;
    -fx-padding: 1;
}

.split-pane {
    -fx-background-color: #FBFBFB;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #FBFBFB;
}

.list-cell {
    -fx-label-padding: 12 6 12 6;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
    -fx-background-color: #FBFBFB;
}

.list-cell:filled {
    -fx-background-color: #FBFBFB;
    -fx-border-color: transparent transparent #DDDEE4 transparent;
    -fx-border-width: 1px;
}

.list-cell:filled:selected {
    -fx-background-color: #EFEFEF;
}

.list-cell .label {
    -fx-text-fill: #969696;
}

.panel_medium_text {
    -fx-font-family: "Proxima Nova Alt";
    -fx-font-size: 13px;
    -fx-text-fill: white;
    -fx-line-space: 1.6;
}

.panel_big_label {
    -fx-font-family: "Proxima Nova Alt";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-padding: 10 15 10 20;
}

.panel_large_label {
    -fx-font-family: "Proxima Nova Alt";
    -fx-font-weight: bold;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #ABD0CE;
    -fx-padding: 18 5 5 15;
}

.cell_big_label {
    -fx-font-family: "Gotham Rounded Book";
    -fx-font-size: 15px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Gotham Rounded Book";
    -fx-font-size: 13px;
    -fx-padding: 2 0 0 0;
    -fx-text-fill: #010504;
}

.anchor-pane {
     -fx-background-color: #FBFBFB;
}

.pane-with-border {
     -fx-background-color: #FBFBFB;
     -fx-border-color: transparent transparent #DDDEE4 transparent;
     -fx-border-top-width: 1px;
}

.pane-with-dark-background {
     -fx-background-color: #EFEFEF;
}

.pane-with-mint-background {
    -fx-background-color: #ABD0CE;
}

.status-bar {
    -fx-background-color: #EFEFEF;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Gotham Rounded Book";
    -fx-font-size: 15px;
    -fx-text-fill: #969696;
}

.status-bar .label {
    -fx-font-family: "Proxima Nova Alt";
    -fx-text-fill: #969696;
}

.status-bar-with-border {
    -fx-background-color: #EFEFEF;
    -fx-border-color: #EFEFEF;
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: #EFEFEF;
}

.grid-pane .anchor-pane {
    -fx-padding: 5 10 5 10;
}

.context-menu {
    -fx-background-color: #EFEFEF;
}

.context-menu .label {
    -fx-text-fill: #969696;
}

.menu-bar {
    -fx-background-color: #EFEFEF;
}

.menu-bar .label {
    -fx-font-size: 15px;
    -fx-font-family: "Gotham Rounded Book";
    -fx-text-fill: #969696;
}

.menu-button:hover,
.menu-button:focused,
.menu-button:showing {
    -fx-background-color: #ABD0CE;
}

.menu-button:hover > .label,
.menu-button:focused > .label,
.menu-button:showing > .label {
    -fx-text-fill: white;
}

.menu-item:hover,
.menu-item:focused {
    -fx-background-color: #EFEFEF;
    -fx-cursor: hand;
}

.menu-item:hover > .label,
.menu-item:focused > .label {
    -fx-text-fill: #969696;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #FBFBFB;
    -fx-font-family: "Proxima Nova Alt", "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #FBFBFB;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #FBFBFB;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: #EFEFEF;
}

.dialog-pane {
    -fx-background-color: #FBFBFB;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #FBFBFB;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: #FBFBFB;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: #EFEFEF;
}

.scroll-bar .thumb {
    -fx-background-color: #CDCDCD;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.timetable-container {
    -fx-opacity: 0.8;
}


/* Identities */
#outletInformation {
    -fx-padding: 5 5 3 20;
}

#outletInformation .label {
    -fx-font-family: "Gotham Rounded Book";
    -fx-font-size: 14px;
    -fx-text-fill: #969696;
}

#announcement {
    -fx-font-family: "Gotham Rounded Book";
    -fx-font-size: 14px;
    -fx-text-fill: #969696;
    -fx-padding: 0 5 10 20;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #969696;
}


#commandTextField {
    -fx-background-color: transparent #FBFBFB transparent #FBFBFB;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: "Gotham Rounded Book";
    -fx-font-size: 16px;
    -fx-text-fill: #969696;
}

#resultDisplay .content {
    -fx-background-color: #EFEFEF;
    -fx-background-radius: 0;
}

#tags {
    -fx-hgap: 8;
    -fx-vgap: 3;
    -padding: 3 0 0 0;
}

#tags .label {
    -fx-text-fill: white;
    -fx-padding: 3 4 3 4;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#tags .salmon {
    -fx-background-color: #E57373;
}

#tags .mint {
    -fx-background-color: #80CBC4;
}

#tags .teal {
    -fx-background-color: #26A69A;
}

#tags .turquoise {
    -fx-background-color: #4DD0E1;
}

#tags .pink {
    -fx-background-color: #F06292;
}

#tags .blue {
    -fx-background-color: #42A5F5;
}

#tags .purple {
    -fx-background-color: #9575CD;
}

#tags .pale-blue {
    -fx-background-color: #82B1FF;
}

#tags .indigo {
    -fx-background-color: #5C6BC0;
}

#tags .yellow {
    -fx-background-color: #FFCA28;
}
